@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --green: #bfff00;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 20px;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  color: var(--white);
}

a {
  text-decoration: none;
  color: white;
}
ul,
li {
  list-style-type: none;
}

nav {
  right: 50px;
  top: 50px;
  position: fixed;
}

menu {
  display: flex;
  background: var(--black);
}

.menu a {
  writing-mode: vertical-rl;
  margin-bottom: 20px;
  font-family: "Bebas Neue", cursive;
  color: var(--white);
  transition-duration: 0.3s;
  font-size: calc(20 / 16 * 1rem);
}

.menu a:hover {
  color: var(--green);
}

.socials {
  z-index: 10;
  height: 20px;
  width: 160px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 50px;
  bottom: 200px;
  position: fixed;
}

.socials a {
  margin-bottom: 50px;
}

.socials i {
  color: var(--white);
  font-size: calc(25 / 16 * 1rem);
  transition-duration: 0.5s;
}

.socials i:hover {
  color: var(--green);

  transition-duration: 0.3s;
}

#home {
  display: flex;
  padding-bottom: 300px;
  flex-direction: column;
}

#home h1 {
  font-size: calc(200 / 16 * 1rem);
}

.name {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}
.box {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.stack-top {
  margin: 105px 0px 0px 315px;
}

.stack-top img {
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  margin-right: 390px;
  margin-top: 350px;
}

.green-box {
  width: 50px;
  height: 50px;
  background-color: var(--green);
  border-radius: 30px 0px 0px 0px;
  margin-right: 7px;
}

.container-info {
  font-size: calc(20 / 16 * 1rem);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--white);
}

.container-info :nth-child(1) {
  margin: 2px 0px;
}

#about {
  padding-top: 200px;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.about-me img {
  width: 360px;
  height: 360px;
}

.about-info {
  max-width: 450px;
  margin-left: 100px;
}

.about-info p {
  font-family: "Inter", sans-serif;
  color: #aaaaaa;
  font-size: calc(16 / 16 * 1rem);
}

.about-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.about-header-box h1 {
  font-size: calc(100 / 16 * 1rem);
}

.about-header-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-header-stack-top img {
  width: 140px;
  height: 140px;
  margin: 20px 0px 0px 120px;
}

#projects {
  margin-top: 230px;
  padding-top: 175px;
}

.projects {
  margin-top: 100px;
}

.projects-header {
  position: relative;
  display: flex;
  justify-content: center;
}

.projects-header-box h1 {
  font-size: calc(100 / 16 * 1rem);
}

.projects-header-box {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 400px;
}

.projects-header-stack-top img {
  width: 200px;
  height: 200px;
  margin: -10px 0px 0px 150px;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project-info {
  width: 350px;
}

.project-info h3 {
  font-size: calc(40 / 16 * 1rem);
  margin-bottom: 5px;
  color: var(--white);
}

.project-info h4 {
  font-size: calc(20 / 16 * 1rem);
  margin-bottom: 20px;
  color: var(--green);
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

.project-info p {
  font-size: calc(15 / 16 * 1rem);
  color: #aaaa;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

.project video {
  width: 400px;
}

.project-links {
  display: flex;
  flex-direction: row;
  font-family: "Bebas Neue", cursive;
  margin-top: 15px;
  font-size: calc(23 / 16 * 1rem);
}

.project-links a {
  margin-right: 25px;
  transition-duration: 0.3s;
}

.project-links a:hover {
  color: var(--green);
}

.project-links i {
  font-size: calc(13 / 16 * 1rem);
}

#contact {
  padding-top: 200px;
  margin-bottom: 200px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-form {
  display: flex;
  flex-direction: column;
  color: #aaaaaa;
}

.contact-form p {
  width: 360px;
  font-size: calc(18 / 16 * 1rem);
  font-family: "Inter", sans-serif;
  margin-bottom: 40px;
}

.contact-form a {
  background-color: var(--green);
  color: var(--black);
  padding: 10px 15px;
  width: 110px;
  border-radius: 5px;
  font-size: calc(20 / 16 * 1rem);
  font-family: "Bebas Neue", cursive;
  text-align: center;
  transition-duration: 0.2s;
}

.contact-form a:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-header {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact-header-box h1 {
  font-size: calc(100 / 16 * 1rem);
}

.contact-header-box {
  width: 100%;
  height: 100%;
  position: absolute;
}

.contact-header-stack-top img {
  width: 150px;
  height: 150px;
  margin: 5px 0px 0px 110px;
}

.contact-header-stack-top img:nth-child(1) {
  margin: 15px 0px 0px 175px;
}

.contact-info a {
  margin-right: 10px;
}

.contact-info a:hover {
  color: var(--green);
}

.info {
  display: flex;
  flex-direction: row;
}

.info-green {
  display: flex;
  flex-direction: column;
  color: var(--green);
  font-family: "Bebas Neue", cursive;
  font-size: calc(25 / 16 * 1rem);
}

.info-green span {
  margin-bottom: 30px;
}

.info-paragraph {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 200;
  margin-left: 20px;
}

.info-paragraph p {
  margin-bottom: 40px;
}

.footer {
  color: #5f5f5f;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 100px 0px 50px 0px;
}

@media only screen and (max-width: 1100px) {
  .socials i {
    font-size: calc(23 / 16 * 1rem);
  }

  #home h1 {
    font-size: calc(150 / 16 * 1rem);
  }
  .name {
    width: 390px;
  }

  .container {
    margin-right: 200px;
    margin-top: 300px;
  }

  .stack-top {
    margin: 70px 0px 0px 210px;
  }

  .stack-top img {
    width: 250px;
  }

  #about {
    display: flex;
    justify-content: center;
    text-align: center;

    padding-top: 0px;

    margin-top: 70px;
    padding-top: 70px;
  }
  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-me img {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 300px;
    height: 300px;
  }

  .about-info {
    margin-left: 0px;
  }
  .about-header-stack-top img {
    width: 140px;
    height: 140px;
    margin: 20px 0px 0px 120px;
  }
  .about-header-box {
    width: 200px;
  }
  .about-info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-header-stack-top {
    width: 220px;
  }
  .about-info {
    max-width: 360px;
  }

  #projects {
    margin-top: 150px;
    padding-top: 150px;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .project h3 {
    margin-top: 30px;
  }

  .project:nth-child(even) {
    flex-direction: column;
  }

  .project-links {
    justify-content: center;
  }

  #projects {
    margin-top: 150px;
    padding-top: 150px;
  }

  #contact {
    padding-top: 100px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form {
    margin-bottom: 150px;
  }
  .project {
    width: 430px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    right: 20px;
    top: 20px;
  }
  .socials {
    left: 20px;
    bottom: 180px;
  }

  #home h1 {
    font-size: calc(100 / 16 * 1rem);
  }
  .name {
    width: 280px;
  }
  .stack-top {
    margin: 40px 0px 0px 165px;
  }

  .stack-top img {
    width: 170px;
  }

  .container {
    margin-right: 130px;
    margin-top: 210px;
  }

  .green-box {
    width: 40px;
    height: 40px;
    border-radius: 20px 0px 0px 0px;
    margin-right: 7px;
  }

  .container-info {
    font-size: calc(15 / 16 * 1rem);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--white);
  }

  .container-info :nth-child(1) {
    margin: 1px 0px;
  }

  .about-me img {
    width: 250px;
    height: 250px;
  }

  .about-info {
    max-width: 250px;
  }

  .about-header-box h1 {
    font-size: calc(90 / 16 * 1rem);
  }

  .about-header-stack-top img {
    width: 130px;
    height: 130px;
  }

  #projects {
    margin-top: 230px;
    padding-top: 175px;
  }

  .projects {
    margin-top: 100px;
  }

  .projects-header {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .projects-header-box h1 {
    font-size: calc(90 / 16 * 1rem);
  }

  .projects-header-box {
    width: 300px;
  }

  .projects-header-stack-top img {
    width: 190px;
    height: 190px;
    margin: -10px 0px 0px 190px;
  }

  .project {
    width: 300px;
  }

  .project-info {
    width: 250px;
  }

  .project-info h3 {
    font-size: calc(35 / 16 * 1rem);
    margin-bottom: 20px;
  }

  .project video {
    width: 300px;
  }

  #contact {
    padding-top: 200px;
    margin-bottom: 200px;
  }

  .contact-form p {
    width: 300px;
    font-size: calc(17 / 16 * 1rem);
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
  }

  .contact-form a {
    padding: 8px 13px;
    width: 110px;
    border-radius: 5px;
    font-size: calc(19 / 16 * 1rem);
    font-family: "Bebas Neue", cursive;
    text-align: center;
  }

  .contact-header {
    width: 300px;
  }

  .contact-header-box h1 {
    font-size: calc(90 / 16 * 1rem);
  }

  .contact-header-stack-top img {
    width: 140px;
    height: 140px;
    margin: 0px 0px 0px 110px;
  }

  .info-green {
    font-size: calc(23 / 16 * 1rem);
  }

  .info-paragraph {
    font-size: calc(17 / 16 * 1rem);
  }
}
